.gitignore
# Project files and directories
#bucscraper/
#/bucscraper/
/bucscraper/bubbla.json
bucscraper/bubbla.json
/newsorg/local_settings.py
newsorg/static/newsorg/images/
/newsorg/tmp/
/newsorg/media/
/home/local_settings.py
home/static/images/
/home/tmp/
/home/media/
/home/migrations/
/blog/local_settings.py
/blog/static/
/blog/tmp/
/blog/media/
/blog/migrations/
/media
/search
blog/templates/blog/blog_page.1.html
home/static/home/css/home.1.css
home/templates/home/partials/category_news.1.html

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

#Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Environments
.env
.venv
env/
venv/
ENV/
newsorgenv/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
