/* ==================================================
  Home Page
================================================== */
#headline-grad {
    background: #4B3296; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( #4B3296 , orange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #4B3296, orange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #4B3296, orange); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #4B3296 , orange); /* Standard syntax */
  }
#headline-grad1 {
background: #4B3296; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(left top, orange , #4B3296); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(bottom right, orange, #4B3296); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(bottom right, orange, #4B3296); /* For Firefox 3.6 to 15 */
background: linear-gradient(to bottom right, orange , #4B3296); /* Standard syntax */
}
.jumbo-container {
    padding-top: 0px;
    padding-bottom: 10px; 
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 3px solid orange;
}
.content-body {
    margin-top: 10px;
    padding-top: 10px;        
    border-left: 2px solid #4B3296;
    border-right: 2px solid #4B3296;
    border-radius: 5px;
  }

.jumbotron{    
    background: url("../images/bucmain-FULL.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;    
    background-size: 100% 100%;
    min-height: 230px;
    margin-bottom: 0px; 
    padding: 0px 15px;         
} 
.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
}
.main-area {
    border-right: 2px solid orange;
}
.second-row {
    max-height: 265px;
}
.second-row-container {
    margin-bottom: 5px;
    border-bottom: 2px solid #4B3296;
}
.homepage-photo {
    max-width: 100%;    
}
.mainfeature-article {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid orange;
}
.mainfeature-pic {
    border-right: 1px solid #4B3296;
}

/* MINITRUE */
.minitrue-container h3 {
    display: block;
    /*background-color: #4B3296; */
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.yflow {    
    overflow-y: scroll;
}
.minitrue {
    padding-right: 5px;
    border-right: 2px solid #4B3296;    
}
.minitrue-list{
    list-style-type: none; 
    max-height: 220px;   
}
.minitrue-list-item {
    padding-bottom: 1rem;        
    padding-top: 0.2rem; 
    padding-right: 2px;
    border-top: 0px;    
    border-bottom: 1px solid orange;          
    border-left: 0px;
    border-right: 0px;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:0px;
    padding-left:2px;     
}
.minitrue-list-item img {
    float: left;
    padding: 0;
}
.minitrue-list-item strong, .minitrue-list-item  p {
    margin-bottom: 0.2rem;
    overflow-y: auto;    
    font-size: 1vw;    
    white-space: nowrap;         
    overflow-x: hidden;
    text-overflow: ellipsis;        
}
/* PUBLISHED FEATURES */
.published-features {
    padding-top: 5px;
    margin-top: 5px;
    border-top: 2px solid orange;
}
.published-container {
    padding-top: 5px;
    margin-top: 5px;
    border-top: 2px solid #4B3296; 
}
.published-row {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #4B3296; 
}
