{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

<div class="container-fluid list-news-container"> <!-- this is to make it responsive to your screen with overide in css: .mainfeature-container -->               
    <!-- cat_pol -->
    <div class="row list-news-row">        
        <div class="col-md">                
            <div id="headline"><h3>politik</h3></div>
            <ul class="list-group list-news-list yflow">
                {% for post in cat_pol %}
                    {% with post=post.specific %}
                        <li class="list-group-item list-news-list-item">                            
                            <a href="{% pageurl post %}">                                                                    
                                <strong>{{ post.title }}</strong>
                                <p>{{ post.intro }}</p>
                            </a>                            
                        </li>
                    {% endwith %}
                {% endfor %}      
            </ul>            
        </div>
    </div>
    <div class="annons"></div>
    <!-- cat_econ -->
    <div class="row list-news-row">        
        <div class="col-md list-news-col">                
            <div id="headline"><h3>ekonomi</h3></div>
            <ul class="list-group list-news-list yflow">
                {% for post in cat_econ %}
                    {% with post=post.specific %}
                        <li class="list-group-item list-news-list-item">                            
                            <a href="{% pageurl post %}">                                                                    
                                <strong>{{ post.title }}</strong>
                                <p>{{ post.intro }}</p>
                            </a>                            
                        </li>
                    {% endwith %}
                {% endfor %}      
            </ul>            
        </div>
    </div>
    <div class="annons"></div>
    <!-- cat_cult -->
    <div class="row list-news-row">        
        <div class="col-md list-news-col">                
            <div id="headline"><h3>kultur</h3></div>
            <ul class="list-group list-news-list yflow">
                {% for post in cat_cult %}
                    {% with post=post.specific %}
                        <li class="list-group-item list-news-list-item">                            
                            <a href="{% pageurl post %}">                                                                    
                                <strong>{{ post.title }}</strong>
                                <p>{{ post.intro }}</p>
                            </a>                            
                        </li>
                    {% endwith %}
                {% endfor %}      
            </ul>            
        </div>
    </div>
    <div class="annons"></div>
    <!-- cat_sci -->
    <div class="row list-news-row">        
        <div class="col-md list-news-col">                
            <div id="headline"><h3>vetenskap</h3></div>
            <ul class="list-group list-news-list yflow">
                {% for post in cat_sci %}
                    {% with post=post.specific %}
                        <li class="list-group-item list-news-list-item">                            
                            <a href="{% pageurl post %}">                                                                    
                                <strong>{{ post.title }}</strong>
                                <p>{{ post.intro }}</p>
                            </a>                            
                        </li>
                    {% endwith %}
                {% endfor %}      
            </ul>            
        </div>
    </div>
    <div class="annons"></div>
    <!-- cat_health -->
    <div class="row list-news-row">        
        <div class="col-md list-news-col">                
            <div id="headline"><h3>hälsa</h3></div>
            <ul class="list-group list-news-list yflow">
                {% for post in cat_health %}
                    {% with post=post.specific %}
                        <li class="list-group-item list-news-list-item">                            
                            <a href="{% pageurl post %}">                                                                    
                                <strong>{{ post.title }}</strong>
                                <p>{{ post.intro }}</p>
                            </a>                            
                        </li>
                    {% endwith %}
                {% endfor %}      
            </ul>            
        </div>
    </div>
</div>

