{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

<div class="container-fluid minitrue-container"> <!-- this is to make it responsive to your screen with overide in css: .mainfeature-container -->
    <!-- cat_pol -->
    <div class="row">           
            <div class="col-md">
                {% if cat_pol %}   
                <h2>Politik</h2>
                {% endif %}
                {% for post in cat_pol %}
                    {% with post=post.specific %}
                    <div class="row">           
                        <div class="col-md-4">
                            {% with post.main_image as main_image %}
                                {% if main_image %}         
                                    {% image main_image height-80 as tmp_photo %}
                                    <img src="{{ tmp_photo.url }}" class="homepage-photo"/>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="col-md-8">
                            <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                            <p><a href="{% pageurl post %}">{{ post.intro }}</a></p>                
                        </div>
                    </div>
                    {% endwith %}
                {% endfor %}  
            </div>
        </div>
    <!-- cat_econ -->
    <div class="row">           
        <div class="col-md cat_econ">
            {% if cat_econ %}   
            <h2>Ekonomi</h2>
            {% endif %}
            {% for post in cat_econ %}
                {% with post=post.specific %}
                <div class="row">           
                    <div class="col-md-4">
                        {% with post.main_image as main_image %}
                            {% if main_image %}         
                                {% image main_image height-80 as tmp_photo %}
                                <img src="{{ tmp_photo.url }}" class="homepage-photo"/>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-md-8">
                        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                        <p><a href="{% pageurl post %}">{{ post.intro }}</a></p>                
                    </div>
                </div>
                {% endwith %}
            {% endfor %}  
        </div>
    </div>   
    <!-- cat_cult -->
    <div class="row">           
        <div class="col-md cat_cult">
            {% if cat_cult %}   
            <h2>Kultur</h2>
            {% endif %}
            {% for post in cat_cult %}
                {% with post=post.specific %}
                <div class="row">           
                    <div class="col-md-4">
                        {% with post.main_image as main_image %}
                            {% if main_image %}         
                                {% image main_image height-80 as tmp_photo %}
                                <img src="{{ tmp_photo.url }}" class="homepage-photo"/>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-md-8">
                        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                        <p><a href="{% pageurl post %}">{{ post.intro }}</a></p>                
                    </div>
                </div>
                {% endwith %}
            {% endfor %}  
        </div>
    </div>
    <!-- cat_sci -->
    <div class="row">           
        <div class="col-md cat_sci">
            {% if cat_sci %}   
            <h2>Vetenskap</h2>
            {% endif %}
            {% for post in cat_sci %}
                {% with post=post.specific %}
                <div class="row">           
                    <div class="col-md-4">
                        {% with post.main_image as main_image %}
                            {% if main_image %}         
                                {% image main_image height-80 as tmp_photo %}
                                <img src="{{ tmp_photo.url }}" class="homepage-photo"/>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-md-8">
                        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                        <p><a href="{% pageurl post %}">{{ post.intro }}</a></p>                
                    </div>
                </div>
                {% endwith %}
            {% endfor %}  
        </div>
    </div>
    <!-- cat_health -->
    <div class="row">           
        <div class="col-md cat_health">
            {% if cat_health %}   
            <h2>Hälsa</h2>
            {% endif %}
            {% for post in cat_health %}
                {% with post=post.specific %}
                <div class="row">           
                    <div class="col-md-4">
                        {% with post.main_image as main_image %}
                            {% if main_image %}         
                                {% image main_image height-80 as tmp_photo %}
                                <img src="{{ tmp_photo.url }}" class="homepage-photo"/>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-md-8">
                        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                        <p><a href="{% pageurl post %}">{{ post.intro }}</a></p>                
                    </div>
                </div>
                {% endwith %}
            {% endfor %}  
        </div>
    </div>
</div>

