a.link, a:visited, a:hover, a:active  {
  color: black;
}
#headline {
  background: #4B3296; 
  color: white;
  text-align: center;
  /* For browsers that do not support gradients */
  /* background: -webkit-linear-gradient( #4B3296 , orange); /* For Safari 5.1 to 6.0 */
  /* background: -o-linear-gradient( #4B3296, orange); /* For Opera 11.1 to 12.0 */
  /* background: -moz-linear-gradient( #4B3296, orange); /* For Firefox 3.6 to 15 */
  /* background: linear-gradient( #4B3296 , orange); /* Standard syntax */
}

.jumbo-container {
  padding-top: 0px;
  padding-bottom: 10px; 
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 3px solid orange;
}
.content-body {
  margin-top: 10px;
  padding-top: 10px;        
  border-left: 2px solid #4B3296;
  border-right: 2px solid #4B3296;
  border-radius: 5px;
}

.jumbotron{    
  background: url("../images/bucmain-FULL.jpg") no-repeat center center;
  -webkit-background-size: 100% 100%;    
  background-size: 100% 100%;
  min-height: 230px;
  margin-bottom: 0px; 
  padding: 0px 15px;         
} 
.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0px;
}

/* ==================================================
Regions
================================================== */
.main-navbar {
  max-height: 70px;
  min-height: 50px;
  background-color: #4B3296;
  margin-bottom: 0;
  color: #e3e3e3;    
}

.navbar-header {
  display: inline;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a,
a.menu-pp-text {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  display: inline-block;
}
p, .navbar li a {
  font-size: 0.875em;
  font-family: -apple-system,BlinkMacSystemFont, "Helvetica Neue",Helvetica,'Fira Sans',"Open Sans",Arial,sans-serif;
}

.navbar .col-md-5, .main-menu {
  vertical-align: middle;
  line-height: 1em;
  padding-top: 0.5em;
}
/* Change the link color to #111 (black) on hover */
.blogpage-categories li a:hover,
.main-menu li a:hover,
a:hover.menu-pp-text,
a:hover.block-articleIP  {
  color: orange;
  background-color: #111;
}

.navbar-buc .btn {
  color: #f3f3f3;
}
.jumbotron-buc {
  background-color: #EBE1F9;
}
.content {
  padding: 3em 0;
}
.footer {
  border-top: 3px solid #D4CCDB;
  padding: 3em 0;
  margin-top: 3em;
  text-align: center;
}
/* ==================================================
  Styling
  ================================================== */
.btn-buc {  
  /*border-color: #6f5499 !important;*/
  border-radius: 0px;
  font-size: inherit;
}
.btn-buc:hover,
.btn-buc:focus,
.btn-buc:active,
.btn-buc.active {
  background: #523e71;
  color: orange;
}
/*.btn-buc-invert {
  background: #523e71;
  border-color: #523e71 !important;
  border-radius: 0;
}
.btn-buc-invert:hover,
.btn-buc-invert:focus,
.btn-buc-invert:active,
.btn-buc-invert.active {
  background: #6f5499;
}*/
/* ==================================================
  Common
  ================================================== */
body, a {
    color: black;
}


.intro {
  margin-bottom: 3em;
  padding-bottom: 3em;
  border-bottom: 5px solid #eee;
}
.main-navbar .row {
  width: 100%;
}

.demos .demo:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
hr {
  margin-bottom: 3em;
  margin-top: 3em;
  height: 1px;
  background: #eee;
}
hr.hr-lg {
  height: 5px;
}
/* ==================================================
  Sticky
  ================================================== */
.sticky.navbar {
  border-radius: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.sticky .show-is-sticky,
.sticky .show-not-sticky {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  visibility: hidden;
}
.sticky .show-not-sticky {
  opacity: 1;
  visibility: visible;
}
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.sticky.is-sticky.navbar {
  background-image: url("../images/pirate_ban_back.png");
}
.sticky.is-sticky .show-is-sticky {
  opacity: 1;
  visibility: visible;
}

.sticky.is-sticky .show-not-sticky {
  opacity: 0;
  visibility: hidden;
}

.sticky.is-sticky .show-is-sticky >img#navbar-sticky-logo {    
  opacity: 1;
  visibility: visible;

}

img#navbar-sticky-logo{
  max-height: 40px;
}
img#navbar-not-sticky-logo{
  max-height: 40px;
}
.sticky.is-sticky .show-not-sticky >img#navbar-not-sticky-logo {
  opacity: 0;
  visibility: hidden;
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0px;
}


/* ==================================================

================================================== */
header {
    padding: 154px 0 100px;
  }
  
  @media (min-width: 992px) {
    header {
      padding: 156px 0 0px;
    }
  }
  
  /* section {
    padding: 150px 0;
  } */

/* ==================================================
  BLOGPAGE
================================================== */

.article p {
  /*font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif,"Open Sans";
  font-family: 'Merriweather','Fira Sans','Hind Siliguri'; */
  font-size: 1rem;
  line-height: 1.1;
}
.article h1 {
  margin-top: 5px;
  margin-bottom: 20px;
}
.blogpage-col h1 {
  text-align: center;
}
.blogpage-row {
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 2px solid orange;
}
a:hover {
  color: black;
}

.blogpage-col table, 
.blogpage-col tr,
.blogpage-col td {
  width: 100%;
  max-height: 40px;
  text-align: right;
  line-height: 0.2em;
  border: 2px solid black;
}
.blogpage-categories, .blogpage-tags, .blogpage-author {
  display: inline;
  text-align: right;
}

/********************************************
rich-text wrapping text around image
********************************************/
p img.richtext-image {
  padding-bottom: 0.1em;
  padding-top: 0.4em;
}
p img.right {
  float: right;
  padding-left: 0.4em;
}
p img.left {
  float: left;
  padding-right: 0.8em;
}

section.block-image {
  padding-bottom: 0.4em;
  border-bottom: 2px solid wheat;
}
section.block-image > img,
section.block-image > .rich-text {
  display: inline-block;
}
.blogpage-author {
  width: 100%;
  display: inline;
  text-align: right;
  font-style: italic;
  font-size: small;
}
a.block-articleIP {
  color: #4B3296;
  font-size: large;
}